@page "/html-encode"

<h1>HTML Encode / Decode</h1>

<textarea class="form-control code" @bind="text"></textarea>

<div>
    <button class="btn btn-secondary" @onclick="Encode">Encode</button>
</div>

@if (result != null)
{
<pre class="result">@result</pre>
}

@code {
    string text;
    string result;

    void Encode()
    {
        result = System.Text.Encodings.Web.HtmlEncoder.Default.Encode(text ?? "");
    }
}