@page "/"

<h1>Tools</h1>

<ul>
    <li><a href="base64-encode">Base64 Encode / Decode</a></li>
    <li><a href="html-encode">HTML Encode</a></li>
    <li><a href="json-string-encoder">Json string Encode / Decode</a></li>
    <li><a href="url-encode">URL Encode / Decode</a></li>
    <li><a href="xml-encode">XML Encode / Decode</a></li>
    <li><a href="yaml-string-encoder">YAML string Encode / Decode</a></li>
    <li><a href="hash-data">Hash data</a></li>
</ul>

<ul>
    <li><a href="json-formatter">JSON Formatter</a></li>
    <li><a href="xml-formatter">XML Formatter</a></li>
    <li><a href="yaml-to-json">YAML To JSON</a></li>
</ul>

<ul>
    <li><a href="numbers">Numbers converter</a></li>
    <li><a href="byte-converter">Bytes converter</a></li>
</ul>

<ul>
    <li><a href="new-guid">GUID Generator</a></li>
    <li><a href="loremipsum">Lorem Ipsum Generator</a></li>
</ul>

<ul>
    <li><a href="char-info">Char Info</a></li>
    <li><a href="string-info">String Info</a></li>
    <li><a href="regex-tester">Regex Tester</a></li>
</ul>

<ul>
    <li><a href="crontab">Crontab</a></li>
    <li><a href="rrule">Recurrence Rule (RFC 5545)</a></li>
</ul>

<ul>
    <li><a href="retry-gitlab-job">Retry GitLab jobs (detect flakiness)</a></li>
    <li><a href="run-gitlab-pipelines">Run GitLab pipelines (detect flakiness)</a></li>
</ul>