@page "/json-string-encoder"

<h1>JSON String Encoder</h1>

<textarea class="form-control code" @bind="text"></textarea>

<div>
    <button class="btn btn-secondary" @onclick="Encode">Encode to JSON string</button>
    <button class="btn btn-secondary" @onclick="Decode">Decode JSON string</button>
</div>

@if (result != null)
{
    <pre class="result">@result</pre>
}

@code {
    string text = "";
    string result;

    void Encode()
    {
        try
        {
            result = System.Text.Json.JsonSerializer.Serialize(text);
        }
        catch (Exception ex)
        {
            result = ex.Message;
        }
    }

    void Decode()
    {
        try
        {
            result = System.Text.Json.JsonSerializer.Deserialize<object>(text)?.ToString();
        }
        catch (Exception ex)
        {
            result = ex.Message;
        }
    }
}