@page "/loremipsum"
@using LoremNET

<h1>Lorem Ipsum</h1>

<label>Words: @wordCount</label>
<input type="range" min="0" max="50" step="1" @bind="wordCount" @bind:event="oninput" class="form-control" />

<label>Sentences: @sentenceCount</label>
<input type="range" min="0" max="50" step="1" @bind="sentenceCount" @bind:event="oninput" class="form-control" />

<label>Paragrapghs: @paragraphCount</label>
<input type="range" min="0" max="50" step="1" @bind="paragraphCount" @bind:event="oninput" class="form-control" />

<div>
    <button class="btn btn-secondary" @onclick="Generate">Generate</button>
</div>

<div class="result">
    @foreach (var p in result)
    {
        <p>@p</p>
    }
</div>

@code {
    int wordCount = 8;
    int sentenceCount = 15;
    int paragraphCount = 10;
    IEnumerable<string> result = Enumerable.Empty<string>();

    void Generate()
    {
        result = Lorem.Paragraphs(wordCount, sentenceCount, paragraphCount);
    }
}