@page "/xml-formatter"
@using System.IO
@using System.Text
@using System.Xml

<h1>XML Formatter</h1>

<textarea class="form-control code" @bind="text"></textarea>

<div>
    <button class="btn btn-secondary" @onclick="() => Format(true)">Format</button>
    <button class="btn btn-secondary" @onclick="() => Format(false)">Minify</button>
</div>

@if (result != null)
{
<pre class="result">@result</pre>
}

@code {
    string text;
    string result;

    void Format(bool indented)
    {
        try
        {
            var originalXmlDocument = new XmlDocument();
            originalXmlDocument.LoadXml(text ?? "");

            if (!indented)
            {
                foreach (XmlNode comment in originalXmlDocument.SelectNodes("//comment()"))
                {
                    comment.ParentNode.RemoveChild(comment);
                }

                foreach (XmlElement el in originalXmlDocument.SelectNodes("descendant::*[not(*) and not(normalize-space())]"))
                {
                    el.IsEmpty = true;
                }
            }

            if (!indented)
            {
                result = originalXmlDocument.InnerXml;
            }
            else
            {
                var minified = new MemoryStream();
                originalXmlDocument.Save(minified);
                result = Encoding.UTF8.GetString(minified.ToArray());
            }
        }
        catch (Exception ex)
        {
            result = ex.Message;
        }
    }
}