@page "/yaml-string-encoder"

<h1>Yaml String Encoder</h1>

<textarea class="form-control code" @bind="text"></textarea>

<div>
    <button class="btn btn-secondary" @onclick="Encode">Encode to YAML string</button>
    <button class="btn btn-secondary" @onclick="Decode">Decode YAML string</button>
</div>

@if (result != null)
{
<pre class="result">@result</pre>
}

@code {
    string text = "";
    string result;

    void Encode()
    {
        try
        {
            var serializer = new YamlDotNet.Serialization.Serializer();
            result = serializer.Serialize(text);
        }
        catch (Exception ex)
        {
            result = ex.Message;
        }
    }

    void Decode()
    {
        try
        {
            var serializer = new YamlDotNet.Serialization.Deserializer();
            result = serializer.Deserialize<object>(text)?.ToString();
        }
        catch (Exception ex)
        {
            result = ex.Message;
        }
    }
}